<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="AndreyVolkov" />
	<meta name="keywords" content="Andrey, Volkov, python, developer, java, c sharp" />
	<meta name="description" content="Andrey Volkov - Python backend programmer" />

	<title>Волков Андрей - Backend Developer</title>

	<!-- Main files css, js, favicon -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

	<!-- Fonts -->
	
</head>

<body>
	<header class="main-header grid" style="background-image: url(../static/img/0-header.jpg);">
		<div class="header-content grid">
			<div class="title-volkov">Волков Андрей</div>
			<div class="header-buttons">
				<h3 class="subtitle-volkov">Python, Java, C# backend developer</h3>
				<a href="#portfolio-page" class="button">Проекты</a>
				<a href="#contact-info" class="button button-gray">Контакты</a>
			</div>
			
		</div>
	</header>

	<section class="semester-info landing-section" id="portfolio-page">

		<div class="container grid">
			<div class="ready-text" id="1">
				<h2>Python</h2>
				<h3>Backend, API, Flask, Libraries</h3>
				<div class="points grid">
					<div class="points-left">
						<p>• Vk Connections Library - <a href="https://github.com/AndreyVolkovBI/VkConnections"> Github/Vk Connections</a><br>• Crossy Words Library - <a href="https://github.com/AndreyVolkovBI/CrossyWords">Github/Crossy Words</a><br>• Vk Connections API - <a href="https://github.com/AndreyVolkovBI/python_projects/tree/vk_connections_api">Github/Vk Connections API</a><br></p>
					</div>
					<div class="points-right">
						<p>• Flask Raccoonn.ru - <a href="https://github.com/AndreyVolkovBI/python_projects/tree/flask_raccoonn_ru">Github/Flask Raccoonn.ru </a><br>• Flask Volkov.tech - <a href="https://github.com/AndreyVolkovBI/python_projects/tree/flask_volkov_tech">Github/Flask Volkov.tech</a></p>
					</div>
				</div>
			</div>

			<div class="ready-text" id="2">
				<h2>Java</h2>
				<h3>Android Apps</h3>
				<div class="points grid">
					<div class="points-left">
						<p>• Vk Connections App (10k downloads)- <a href="https://play.google.com/store/apps/details?id=com.andreyvolkov.vkconnectionsapp">Google Play Market/Vk Connections App</a></p>
					</div>
				</div>
			</div>

			<div class="ready-text" id="3">
				<h2>C#</h2>
				<h3>Home assignments, Team Project, WPF Apps</h3>
				<div class="points grid">
					<div class="points-left">
						<p>• Assignment 1 - City transport scheduling - <a href="https://github.com/AndreyVolkovBI/CSharpProjects/tree/city_transport_scheduling">Github/City transport scheduling</a><br>• Assignment 2 - Transport schedule with GUI - <a href="https://github.com/AndreyVolkovBI/CSharpProjects/tree/transport_schedule_with_gui">Github/Transport schedule with GUI</a><br>• Assignment 3 - Database storage - <a href="https://github.com/AndreyVolkovBI/CSharpProjects/tree/database_storage">Github/Database storage</a><br>• Team Project "Crossy Words" - <a href="https://github.com/AndreyVolkovBI/CrossyWords-TeamProject">Github/Crossy Words Team Project</a><br></p>
						<br>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="formsection" id="contact-info">
		<div class="form-container">
			<p class="form-text">Ссылки на сторонние источники</p>
			<div>
				<p class="links-item">Github - <a class="footer-link" href="https://github.com/andreyvolkovbi">AndreyVolkovBI</a></p>
				<p class="links-item">ВКонтакте - <a class="footer-link" href="https://vk.com/andreyvolkov1999">Андрей Волков</a></p>
				<p class="links-item">Email - <a class="footer-link" href="https://vk.com/andreyvolkov1999">andrey.volkov.1999@yandex.ru</a></p>
			</div>	
		</div>	
	</section>

	<footer class="main-footer">
		<div class="form-container">
			<div class="footer-logo">Андрей Волков © 2019
			</div>		
		</div>
	</footer>

</body>
</html>